In [14]:
!pip3 install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.5.tar.gz (384 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 384.3/384.3 kB 8.0 MB/s eta 0:00:00 MB/s eta 0:00:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.5-cp39-cp39-macosx_10_9_x86_64.whl size=133905 sha256=b101a7241e1cd23943041881f296b0a740f1a8d42579d41490f5157cc209ed1b
  Stored in directory: /Users/ohikendoit/Library/Caches/pip/wheels/37/c1/ad/4ee49165718dff2c018c9830204ef8e749afdce7919f078586
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.5

In [18]:
import psycopg2
import pandas as pd
pd.__version__

'1.4.4'

In [19]:
#read the original parquet format file
df = pd.read_parquet('yellow_tripdata_2022-01.parquet')

In [27]:
#conver the parquet format file into csv
pd.read_parquet('yellow_tripdata_2022-01.parquet').to_csv('yellow_tripdata_2022-01.csv')

In [20]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [21]:
#sqlalchemy - open source sql kit
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [22]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.50,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.00,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.50,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.00,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.50,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2463926,2,2022-01-31 23:36:53,2022-01-31 23:42:51,NaN,1.32,NaN,None,90,170,0,8.00,0.0,0.5,2.39,0.0,0.3,13.69,NaN,NaN
2463927,2,2022-01-31 23:44:22,2022-01-31 23:55:01,NaN,4.19,NaN,None,107,75,0,16.80,0.0,0.5,4.35,0.0,0.3,24.45,NaN,NaN
2463928,2,2022-01-31 23:39:00,2022-01-31 23:50:00,NaN,2.10,NaN,None,113,246,0,11.22,0.0,0.5,2.00,0.0,0.3,16.52,NaN,NaN
2463929,2,2022-01-31 23:36:42,2022-01-31 23:48:45,NaN,2.92,NaN,None,148,164,0,12.40,0.0,0.5,0.00,0.0,0.3,15.70,NaN,NaN
2463930,2,2022-01-31 23:46:00,2022-02-01 00:13:00,NaN,8.94,NaN,None,186,181,0,25.48,0.0,0.5,6.28,0.0,0.3,35.06,NaN,NaN

In [23]:
pd.io.sql.get_schema(df, name='yellow_taxi_data')

'CREATE TABLE "yellow_taxi_data" (\n"VendorID" INTEGER,\n  "tpep_pickup_datetime" TIMESTAMP,\n  "tpep_dropoff_datetime" TIMESTAMP,\n  "passenger_count" REAL,\n  "trip_distance" REAL,\n  "RatecodeID" REAL,\n  "store_and_fwd_flag" TEXT,\n  "PULocationID" INTEGER,\n  "DOLocationID" INTEGER,\n  "payment_type" INTEGER,\n  "fare_amount" REAL,\n  "extra" REAL,\n  "mta_tax" REAL,\n  "tip_amount" REAL,\n  "tolls_amount" REAL,\n  "improvement_surcharge" REAL,\n  "total_amount" REAL,\n  "congestion_surcharge" REAL,\n  "airport_fee" REAL\n)'

In [24]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [28]:
#Iteration to chunk the big files to smaller sizes

df_iter = pd.read_csv('yellow_tripdata_2022-01.csv', iterator=True, chunksize=100000)

In [32]:
df = next(df_iter) #see the list of smaller files
df

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
200000,200000,2,2022-01-04 08:11:27,2022-01-04 08:31:43,1.0,5.90,1.0,N,116,163,1,21.0,0.00,0.5,4.86,0.00,0.3,29.16,2.5,0.00
200001,200001,2,2022-01-04 08:39:09,2022-01-04 08:47:51,1.0,1.15,1.0,N,141,262,1,7.5,0.00,0.5,1.50,0.00,0.3,12.30,2.5,0.00
200002,200002,2,2022-01-04 08:57:25,2022-01-04 09:00:38,1.0,0.85,1.0,N,263,141,1,4.5,0.00,0.5,0.00,0.00,0.3,7.80,2.5,0.00
200003,200003,1,2022-01-04 08:08:34,2022-01-04 08:17:08,1.0,0.90,1.0,N,142,239,1,7.0,2.50,0.5,1.55,0.00,0.3,11.85,2.5,0.00
200004,200004,1,2022-01-04 08:33:18,2022-01-04 08:38:24,1.0,0.90,1.0,N,238,166,1,6.0,2.50,0.5,2.30,0.00,0.3,11.60,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,299995,2,2022-01-05 14:17:51,2022-01-05 14:26:56,1.0,2.32,1.0,N,137,140,1,9.0,0.00,0.5,2.46,0.00,0.3,14.76,2.5,0.00
299996,299996,2,2022-01-05 14:41:36,2022-01-05 14:55:17,1.0,1.54,1.0,N,141,43,1,10.0,0.00,0.5,2.66,0.00,0.3,15.96,2.5,0.00
299997,299997,2,2022-01-05 14:59:05,2022-01-05 15:05:54,1.0,1.24,1.0,N,163,239,2,7.0,0.00,0.5,0.00,0.00,0.3,10.30,2.5,0.00
299998,299998,1,2022-01-05 14:38:34,2022-01-05 14:49:25,1.0,1.40,1.0,N,68,107,1,8.5,2.50,0.5,1.77,0.00,0.3,13.57,2.5,0.00
299999,299999,1,2022-01-05 14:39:32,2022-01-05 14:54:41,2.0,7.70,1.0,N,138,262,1,22.5,3.75,0.5,3.36,6.55,0.3,36.96,2.5,1.25

In [33]:
len(df)

100000

In [35]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [38]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 4.99 s, sys: 343 ms, total: 5.34 s
Wall time: 22.3 s

1000

In [40]:
from time import time

while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    
    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 19.601 second
inserted another chunk, took 26.145 second
inserted another chunk, took 21.385 second
inserted another chunk, took 21.600 second
inserted another chunk, took 20.157 second
inserted another chunk, took 18.764 second
inserted another chunk, took 19.134 second
inserted another chunk, took 18.653 second
inserted another chunk, took 19.671 second
inserted another chunk, took 17.214 second
inserted another chunk, took 19.663 second
inserted another chunk, took 19.047 second
inserted another chunk, took 27.722 second
inserted another chunk, took 22.490 second
inserted another chunk, took 31.082 second
inserted another chunk, took 19.976 second
inserted another chunk, took 33.825 second
inserted another chunk, took 29.124 second
inserted another chunk, took 24.616 second
inserted another chunk, took 23.698 second

/var/folders/s2/hnmqp7lj4t1bmkwjn8qdwk3w0000gn/T/ipykernel_31106/3605321781.py:6: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 21.138 second
inserted another chunk, took 21.838 second

StopIteration: